body {
    font-family: 'Segoe UI', Roboto, sans-serif;
}

a {
    text-decoration: none;
    color: rgb(223, 223, 223);
    font-size: 24px;
    transition: 0.3s ease;
    opacity: 0.4;
}

a:hover {
    opacity: 1;
}

nav {
    position: sticky;
    background-color: rgb(6, 4, 7);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
    width: 100%;
    top: 0;
}

.navButton {
    margin: 20px;
    display: flex;
    gap: 20px;
}
.navButton button{
    font-size: 16px;
    color: rgb(223, 223, 223);
    height: 35px;
    width: 140px;
    background-color: rgb(25, 21, 27);
    border: 0;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 15px;
    opacity: 0.4;
}

.navButton button:hover {
    transform: scale(1.2);
    opacity: 1;
}

.pages {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

.logo img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}


header {
    height: 700px;
    background-color: rgb(11, 5, 14);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.headerImg {
    height: 600px;
    border-radius: 15px;
}
.headerImg img {
    height: 600px;
    border-radius: 15px;
}

.headerText {
    height: 600px;
    width: 700px;
    color: rgb(223, 223, 223);
    font-size: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-around;
}

span {
    font-weight: bold;
    font-size: 80px;
}

.headerButton{
    font-size: 16px;
    color: rgb(223, 223, 223);
    height: 35px;
    width: 170px;
    background-color: rgb(25, 21, 27);
    border: 0;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 15px;
    opacity: 0.4;
    margin-top: 30px;
}

.headerButton:hover {
    transform: scale(1.2);
    opacity: 1;
}

section {
    height: 700px;
    background-color: rgb(11, 5, 14);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sDivOsn {
    width: 1500px;
    height: 600px;
    background-color: rgb(11, 5, 14);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
}

.sDiv1 {
    border-radius: 16px;
    width: 750px;
    height: 600px;
    cursor: pointer;
}

.sDiv2 {
    border-radius: 16px;
    width: 750px;
    height: 600px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-direction: column;
}

.sDivText {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    flex-direction: column;
    color: rgb(223, 223, 223);
}

.sDivImg img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.sDivGameImg {
    border-radius: 16px;
    width: 150px;
    height: 85px;
}

.sDivGameImg img {
    border-radius: 16px;
    width: 100%;
    height: 100%;
}

.sDiv2Game {
    color: rgb(223, 223, 223);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    gap: 10px;
    cursor: pointer;
}

.sDivGameText h2 {
    font-size: 16px;
    font-weight: bold;
}  

.sDivGameText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}  

.buttonGamesPlus {
    font-size: 16px;
    color: rgb(223, 223, 223);
    height: 35px;
    width: 170px;
    background-color: rgb(25, 21, 27);
    border: 0;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 15px;
    opacity: 0.4;
    margin-bottom: 15px;    
}

.buttonGamesPlus:hover {
    transform: scale(1.2);
    opacity: 1;
}

.gamesPlus {
    padding: 50px;
    color: rgb(223, 223, 223);
    height: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gamesPlusImg {
    width: 1500px;
    height: 700px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.divGamesPlus {
    border-radius: 16px;
    width: 300px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.textPlus {
    font-size: 52px;
    font-weight: bold;
}

.divGamesPlus img {
    border-radius: 16px;
    width: 250px;
    height: 320px;
}

footer {
    height: 100px;
    background-color: rgb(11, 5, 14);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

footer img {
    width: 100%;
    height: 100%;
    border-radius: 16px;

}

.footerDivImg {
    width: 50px;
    height: 50px;
    border-radius: 16px;
    cursor: pointer;
}

footer p {
    font-size: 52px;
    font-weight: bold;
    color: rgb(223, 223, 223);
}

.footerDiv {
    height: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.ppSec {
    color: rgb(223, 223, 223);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: left;
    height: 744px;
}

ol {
    list-style-type: decimal;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 100px;
    
}

.onSecDiv {
    color: rgb(223, 223, 223);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: left;
    height: 322px;
    width: 1300px;
}

.onSecDiv2 {
    color: rgb(223, 223, 223);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: left;
    height: 322px;
}

.onSec {
    color: rgb(223, 223, 223);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: left;
    height: 744px;
}

.pNimg {
    width: 250px;
    height: 250px;
    border-radius: 16px;
}

.pNimg img {
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.pN {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    justify-content: center;
    height: 322px;
    width: 1300px;
}